.favorites-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #1c802d; /* Verde oscuro */
  }
  
  .no-favorites-message {
    font-size: 18px;
    color: #6c757d; /* Gris claro */
    margin-top: 20px;
  }
  
  .favorites-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1c802d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #145a20;
  }
  