.productForm-page {
  background-image: linear-gradient(#FFF5CC, #fff5ccef); /* Gradiente amarillo suave */
  display: flex;
  justify-content: center;  /* Centra los contenidos horizontalmente */
  align-items: center;  /* Centra los contenidos verticalmente */
  height: 100vh;  /* Altura completa de la ventana */
  flex-direction: column
}

.product-form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;  /* Controlamos el ancho del contenedor */
  max-width: 1200px;  /* Limitar el tamaño máximo del contenedor */
  padding: 20px;
  background-image: 
  linear-gradient(#FFF5CC, #fff5ccb0), /* Capa semitransparente encima */
  url('../../../public/logoFondo.png'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: 70%; /* Ajusta la imagen */
  background-position: center;
}
.product-form {
  flex: 1; /* El formulario ocupa el 50% del contenedor */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form-title {
  font-size: 28px;
  color: #1c802d;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-form input,
.product-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.product-form input:focus,
.product-form select:focus {
  outline: none;
  border: 1px solid #fcc40b;
  box-shadow: 0 0 5px rgba(252, 196, 11, 0.5);
}

.product-form-button {
  padding: 12px;
  background-color: #1c802d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.product-form-button:hover {
  background-color: #fcc40b;
}

.product-form-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tipo-stats {
  flex: 1;  /* La sección de estadísticas ocupa el otro 50% */
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;  /* Limitar el ancho de las estadísticas */
  margin-left: 20px;
}

.tipo-stats h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.tipo-stats p {
  font-size: 16px;
  color: #555;
}