.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c802d; /* Verde oscuro */
  color: white;
  z-index: 1000;
  padding: 15px 30px; /* Aumentamos el padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; /* Incluye padding y bordes en las dimensiones */
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 15px; /* Mayor espacio entre el logo e el texto */
}

.logo {
  width: 50px; /* Tamaño ajustado para que sea más armónico */
  height: auto;
}

.logo-text {
  font-family: 'Poppins', sans-serif; /* Puedes elegir una fuente más estilizada */
  font-size: 32px; /* Tamaño más grande para destacar el nombre */
  font-weight: 900; /* Más grueso para un mejor impacto visual */
  color: #fcc40b; /* Color amarillo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra ligera para mayor contraste */
  letter-spacing: 2px; /* Espaciado entre letras */
  display: inline-block;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-size: 16px; /* Incrementamos el tamaño */
  padding: 8px 15px;
  transition: color 0.3s, background-color 0.3s;
}

.header__nav a:hover {
  background-color: #4c7c54;
  border-radius: 4px;
}

.header__nav a.active {
  font-weight: bold;
  border-bottom: 2px solid #fcc40b;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-login, .btn-contact {
  padding: 10px 20px; /* Ajustamos el padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Ajustamos el tamaño del texto */
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Evitamos que el texto se corte en varias líneas */
}

.btn-login {
  background-color: #fcc40b;
  color: #1c802d;
}

.btn-contact {
  background-color: #fcc40b;
  color: white;
}

.btn-login:hover {
  background-color: #f4c54b;
}

.btn-contact:hover {
  background-color: #937705;
}

.header__toggle {
  display: flex;
  gap: 15px;
}

.header__toggle-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header__toggle-btn.active {
  background-color: #fcc40b;
  color: #1c802d;
}

.header__toggle-btn:hover {
  background-color: #f9da5c;
  color: #1c802d;
}
