.about-section {
  padding: 50px 20px;
  font-family: 'Arial', sans-serif;
  background-color: #FFF5CC; /* Amarillo suave */
  background-image: 
  linear-gradient(#FFF5CC, #fff5ccb0), /* Capa semitransparente encima */
  url('../../../public/logoFondo.png'); /* Asegúrate de que esta ruta sea correcta */
  background-repeat: no-repeat;
  background-size: 55%; /* Ajusta la imagen para cubrir */
  background-position: center; /* Centra la imagen */
}


.about-title {
  font-size: 32px;
  color: #000000; /* Verde oscuro de la paleta */
  text-align: center;
  margin-bottom: 10px;
}

.about-subtitle {
  font-size: 18px;
  text-align: center;
  color: #000000; /* Verde más claro */
  margin-bottom: 40px;
}

.about-intro {
  text-align: center;
  font-size: 16px;
  color: #000000; /* Verde más claro */
  margin-bottom: 40px;
  line-height: 1.6;
}

.mission-vision {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 40px;
}

.mission,
.vision {
  background-color: #fcc40b; /* Amarillo suave */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.mission h3,
.vision h3 {
  font-size: 20px;
  color: #1c802d; /* Verde oscuro */
  margin-bottom: 15px;
}

.values {
  margin-bottom: 40px;
}

.values h3 {
  font-size: 20px;
  color: #1c802d; /* Verde oscuro */
  text-align: center;
  margin-bottom: 20px;
}

.values ul {
  list-style: none;
  padding: 0;
}

.values li {
  font-size: 16px;
  color: #000000; /* Verde más claro */
  margin-bottom: 10px;
}

.values li strong {
  color: #000000; /* Amarillo vibrante */
}

.team {
  text-align: center;
}

.team h3 {
  font-size: 20px;
  color: #000000; /* Verde oscuro */
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.team-member {
  text-align: center;
  max-width: 200px;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #fcc40b; /* Amarillo vibrante */
}

.team-member h4 {
  font-size: 18px;
  color: #1c802d; /* Verde oscuro */
  background-color: #fcc40b;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.team-member p {
  font-size: 14px;
  color: #000000; /* Verde más claro */
}

.cta-button {
  background-color: #fcc40b; /* Amarillo vibrante */
  color: #1c802d; /* Verde oscuro */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f9da5c; /* Amarillo suave */
}
